<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.api.ast.authservice.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.api.ast.authservice.entity.User">
        <id property="userId" column="user_id"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="deptId" column="dept_id"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="statusCode" column="status_code"/>
        <result property="birthDate" column="birth_date"/>
        <result property="joinedDate" column="joined_date"/>
        <result property="userUuid" column="user_uuid"/>
        <result property="role" column="role" jdbcType="VARCHAR" javaType="com.api.ast.authservice.entity.constant.UserRole"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="deletedYn" column="deleted_yn"/>
    </resultMap>

    <select id="findByUserUuid" resultMap="UserResultMap">
        SELECT * FROM users WHERE user_uuid = #{userUuid} AND deleted_yn = false
    </select>

    <select id="findByEmail" resultMap="UserResultMap">
        SELECT * FROM users WHERE email = #{email} AND deleted_yn = false
    </select>

    <select id="findById" resultMap="UserResultMap">
        SELECT * FROM users WHERE user_id = #{userId} AND deleted_yn = false
    </select>

    <select id="findAll" resultMap="UserResultMap">
        SELECT * FROM users WHERE deleted_yn = false ORDER BY created_at DESC
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="user.userId" keyColumn="user_id">
        INSERT INTO users(email, name, phone, password, user_uuid, deleted_yn, role, status_code, created_at, updated_at)
        VALUES(#{user.email}, #{user.name}, #{user.phone}, #{user.password}, #{user.userUuid}, #{user.deletedYn}, CAST(#{user.role} AS TEXT), 'ACTIVE', NOW(), NOW())
    </insert>

    <update id="update">
        UPDATE users SET
        email = #{user.email},
        password = #{user.password},
        deleted_yn = #{user.deletedYn},
        role = CAST(#{user.role} AS TEXT),
        updated_at = NOW()
        WHERE user_id = #{user.userId}
    </update>

    <update id="deleteById">
        UPDATE users SET deleted_yn = true, updated_at = NOW() WHERE user_id = #{userId}
    </update>

    <select id="existsByEmail" resultType="int">
        SELECT count(*) FROM users WHERE email = #{email} AND deleted_yn = false
    </select>

</mapper>